<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612389187531-bc9crma1bim2dmknm7h3ud4n6efpdfr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612389187531-bc9crma1bim2dmknm7h3ud4n6efpdfr1</string>
	<key>API_KEY</key>
	<string>AIzaSyBKPmxSdbfKWYVOcZsM1MYbXhmluakYcrI</string>
	<key>GCM_SENDER_ID</key>
	<string>612389187531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SharingLedger.SharingLedger</string>
	<key>PROJECT_ID</key>
	<string>ece564project</string>
	<key>STORAGE_BUCKET</key>
	<string>ece564project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612389187531:ios:14513dc5fc8cc662ff904e</string>
</dict>
</plist>